<!DOCTYPE html>
<html>

<head>
    <title>Identificação de Flor/Sobre Nós</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="assets/css/about-us.css">
    <link rel="stylesheet" type="text/css" href="assets/css/your-updated-styles.css">
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>Sobre Nós</h1>
                </div>
                <div class="content">
                    <h3>Sobre Nossa Inteligência Artificial de Identificação de Flores Íris</h3>
                    <p>Nossa Inteligência Artificial de Identificação de Flores Íris é um sistema de ponta projetado para reconhecer e classificar várias espécies de flores íris com base em suas características distintas. Utilizando algoritmos avançados de aprendizado de máquina, nossa IA traz um novo nível de precisão e eficiência para o mundo da identificação de flores.</p>
                    <p>Com foco nas flores íris, nossa IA consegue distinguir entre diferentes espécies, como a Iris setosa, Iris versicolor e Iris virginica. Ela analisa características-chave, como comprimento da sépala, largura da sépala, comprimento da pétala e largura da pétala para fornecer resultados precisos de identificação.</p>
                    <div class="button">
                        <a href="index.html">Voltar para IA</a>
                    </div>
                </div>
            </div>

            <div class="developer-section">
                <div class="developer">
                    <img src="assets/img/developer1.jpg" alt="Desenvolvedor 1">
                    <p> Leonardo Gomes </p>
                    <div class="social">
                        <a href="https://github.com/legomesz/legomesz" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/leonardo-gomes-alexandrini-652363224/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="developer">
                    <img src="assets/img/developer2.jpg" alt="Desenvolvedor 2">
                    <p> Paulo Henrique </p>
                    <div class="social">
                        <a href="https://github.com/desenvolvedor2" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/paulo-henrique-284a89239/" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="developer">
                    <img src="assets/img/developer3.jpg" alt="Desenvolvedor 3">
                    <p> Rinaldo Alves </p>
                    <div class="social">
                        <a href="https://github.com/desenvolvedor3" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/desenvolvedor3" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>

                <div class="developer">
                    <img src="assets/img/developer4.jpg" alt="Desenvolvedor 4">
                    <p> Edvanio Junior </p>
                    <div class="social">
                        <a href="https://github.com/desenvolvedor4" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/desenvolvedor4" target="_blank"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
