<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/about-iris.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Identificação de Flor/Sobre Iris</title>
    <link rel="icon" href="caminho/do/seu/favicon.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
</head>

<body>

    <section class="about-iris">
        <h1>Sobre Iris</h1>
        <p>Descubra a beleza única de cada tipo de Iris.</p>
        <div class="iris-types">
            <div class="iris-type">
                <img src="assets/img/iris 1.jfif" alt="Iris Tipo 1">
                <h2>Iris Versicolor</h2>
                <p><strong>Morfologia</strong></p>
                <p><strong>Tamanho:</strong> Planta geralmente maior que a Iris setosa.</p>
                <p><strong>Pétalas:</strong> Flores de cores variadas, incluindo violeta, azul, rosa e branco.</p>
                <p><strong>Crescimento e Habitat</strong></p>
                <p><strong>Habitat:</strong> Locais úmidos, como pântanos e margens de córregos.</p>
                <p><strong>Geografia</strong></p>
                <p><strong>Distribuição:</strong> Em uma área geográfica ampla, abrangendo o leste da América do Norte.</p>
            </div>
            <div class="iris-type">
                <img src="assets/img/iris-2.jpg" alt="Iris Tipo 2">
                <h2>Iris Setosa</h2>
                <p><strong>Morfologia</strong></p>
                <p><strong>Tamanho:</strong> Geralmente menor em comparação com outras espécies.</p>
                <p><strong>Pétalas:</strong> Podem ser de cor branca, rosa ou violeta.</p>
                <p><strong>Crescimento e Habitat</strong></p>
                <p><strong>Habitat:</strong> Áreas úmidas, como pântanos e margens de lagos.</p>
                <p><strong>Geografia</strong></p>
                <p><strong>Distribuição:</strong> Comum em regiões mais ao norte, incluindo Canadá e norte dos Estados
                    Unidos.</p>
            </div>
            <div class="iris-type">
                <img src="assets/img/iris-3.jpg" alt="Iris Tipo 3">
                <h2>Iris Virginica</h2>
                <p><strong>Morfologia</strong></p>
                <p><strong>Tamanho:</strong> Tende a ter flores maiores e mais largas.</p>
                <p><strong>Pétalas:</strong> Variam em tons de azul, rosa e branco.</p>
                <p><strong>Crescimento e Habitat</strong></p>
                <p><strong>Habitat:</strong> Encontrada em habitats úmidos, incluindo pântanos e áreas costeiras.</p>
                <p><strong>Geografia</strong></p>
                <p><strong>Distribuição:</strong> No leste da América do Norte, especialmente em áreas costeiras e
                    úmidas.</p>
            </div>
        </div>

        <!-- Botão para a página index.html -->
        <a href="index.html" class="btn-go-back">Voltar para IA</a>
    </section>
</body>

</html>
